<!DOCTYPE html>
<html>
  <head>
    <title>Rislab Tech Console</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag 'logo.png', alt: 'EMEA IDS LAB', size: '320x62' %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/calendar">Calendar</a></li>
        </ul>
        <% if !session[:user_id] %>
          <ul>
            <li><%= link_to 'Admin', admin_path %></li>
          </ul>
        <% end %>
        <% if session[:user_id] %>
          <ul>
            <li><%= link_to 'OS Types', os_types_path %></li>
            <li><%= link_to 'Template Volumes', template_volumes_path %></li>
            <li><%= link_to 'Device Types', device_types_path %></li>
            <li><%= link_to 'Devices', devices_path %></li>
            <li><%= link_to 'Users', users_path %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
