<p id="notice"><%= notice %></p>

<h1>Template Volumes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Iscsiname</th>
      <th>Description</th>
      <th>Os type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_volumes.each do |template_volume| %>
      <tr>
        <td><%= template_volume.name %></td>
        <td><%= template_volume.iscsiname %></td>
        <td><%= template_volume.description %></td>
        <td><%= @os_types.find{ |os_type| os_type.id == template_volume.os_type_id }.name %></td>
        <td><%= link_to 'Show', template_volume %></td>
        <td><%= link_to 'Edit', edit_template_volume_path(template_volume) %></td>
        <td><%= link_to 'Destroy', template_volume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template Volume', new_template_volume_path %>
